*{
  margin: 0;
  padding: 0;
}

body {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  font-family: 'Maven Pro', sans-serif;
  font-size: 0.95rem;
}

h1 h2 h3 h4 h5 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 1rem;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

.react-datepicker-popper {
  z-index: 3;
}